.conContainer {
    color: var(--tertiary-color);
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5dvh auto;
    background: var(--primary-color);
    border: 6px var(--secondary-color) groove;
    z-index: 0;
    padding: 2.5vw;
}
.manual {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
}
.manual p, .manual button {
    position: relative;
    z-index: 10;
    margin: auto;
    padding: 2vh 5vw;
    font-weight: bolder;
    border: none;
    width: 360px;
}
.Contact {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    text-align: center;
}

.popup-content{
    position: relative;
    z-index: 10;
	margin:auto;
	background: #000;
	width:50%;
	padding:5px;
	border:none;
}
[role=tooltip].popup-content{
	width:auto;
	box-shadow:0 0 3px rgba(0,0,0,.16);
	border-radius:5px;
}

.matrix { text-align: center; color: white;font-size: larger;}

.matrixBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Set z-index to ensure it appears behind other content */
    /* Add any additional styling for the background canvas */
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 650px) {
    .manual { flex-direction: column;}
}