.conContainer {
    color: var(--tertiary-color);
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5dvh auto;
    background: var(--primary-color);
    border: 6px var(--secondary-color) groove;
    z-index: 0;
    padding: 2.5vw;
}
.ContactCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    /* backdrop-filter: blur(10px); */
}
.manual {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #fff;
    background-color: #0a0a08;
}
.manual::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1000;
}
.manual::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2000;
    filter: blur(40px);
}
.manual::before, .manual::after {
    background: linear-gradient(235deg, var(--tertiary-color), #0a0a08, var(--secondary-color));
}
.aboutText {
    position: relative;
    z-index: 10;
    margin: 10px 0;
    padding: 2vh 0;
    font-weight: bolder;
    border: none;
    text-align: center;
    width: auto;
}
.manual button {
    background-color: transparent;
    border: 3px dashed rgba(255,255,255, 0.3);

    
}
.Contact {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    text-align: center;
}

.popup-content{
    position: relative;
    z-index: 10;
	margin:auto;
	background: #000;
	width:50%;
	padding:5px;
	border:none;
}
[role=tooltip].popup-content{
	width:auto;
	box-shadow:0 0 3px rgba(0,0,0,.16);
	border-radius:5px;
}

.matrix { text-align: center; color: white; font-size: larger;}

.matrixBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Set z-index to ensure it appears behind other content */
    /* Add any additional styling for the background canvas */
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 650px) {
    .manual { flex-direction: column;}
}